body {
    font-family: Arial, sans-serif;
    background-color: rgba(0,0,0,255);
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
}

.container {
    background-color: rgba(0,0,0,255);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    padding: 40px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    width: 100px;
    height: 100px;
    background-image: url('logo.png'); /* Add the path to your logo image here */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #2e2e2e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px; /* Space between logo and title */
}

h1 {
    color: rgba(230,230,230,255);
    font-size: 2.5em;
    margin: 0; /* Remove margin to center the content */
}

#stopwatch {
    font-size: 30em; /* Make the stopwatch text larger */
    margin: 10px 0; /* Space above and below the stopwatch */
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,255);
    color: rgba(252,47,26,255); /* Neon green color */
    text-shadow: 2px 2px 8px rgba(252,47,26,255); /* Glow effect */
    flex: 1; /* Allow the stopwatch to grow and fill available space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Space between stopwatch and button */
}

button {
    font-size: 1.5em;
    padding: 15px 30px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #00bcd4;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0097a7;
    transform: translateY(-2px);
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}
